/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,body {
    font-family: "Poppins", sans-serif;
    font-weight: 400; /* Обычный */
    color: #f5f5f5;
    background-color: #3e3d3d;;
    height: 100%;
}

.header {
    position: relative;
    z-index: 5;
    background-image: url('backg.png');
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.underline {
    width: 100%;
    height: 4px;
    border-radius: 55px;
    background-color: #4f4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin: 0 auto;
}
.main {
    background-color: #5d4b42; /* Основной коричневый цвет */
    padding: 20px;
}

.about {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 4;
    height: 100%;
    background-image: url('Иллюстрация_без_названия\ 6.png');/* Путь к вашей картинке */
    background-size: cover; /* Картинка полностью покрывает блок */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Убираем повторение */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.block-content{
    display: flex; /* Включаем Flexbox */
    margin: 0 auto;
    margin-top: 5%;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border: #373737 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 600px;
    margin-left: 10px;
    margin-right: 10px;
}

.image-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    display: flex; /* Позволяет контенту растягивать высоту */
    flex-direction: column; /* Сохранение структуры текста */
    align-items: flex-start; /* Выравнивание по левому краю */
    height: fit-content; /* Автоматическая высота */
    margin-left: 900px;
    border-radius: 25px;
    padding: 15px;
    border: #939191 1px;
    background-color: #e4dede;
    font-size: 18px;
    color: #6c6c6c;
    max-width: 400px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text h1{
    margin-bottom: 20px;
    color: #333232;
    font-size: 50px
}

.work {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;
    margin-top: -20px;
    height: 800px;
    background-color: #3e3d3d; /* Светлый фон блока */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.block-work{
    display: flex; /* Включаем Flexbox */
    margin: 0 auto;
    margin-top: 4%;
    gap: 100px; 
}

.works{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border: #1e1e1e 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 80%;
}

.works img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame-container {
    display: flex;
    flex-direction: column; /* Элементы идут сверху вниз */
    align-items: center; /* Центрируем по горизонтали */
    gap: 20px; /* Расстояние между заголовком и рамкой */
}

.frame-title {
    color: #e4dede; 
    font-size: 30px;
    display: flex; /* Позволяет контенту растягивать высоту */
    justify-content: center;
    align-items: center; /* Выравнивание по левому краю */
    border-radius: 30px;
    padding: 20px;
    font-size: 36px;
    background-color: #7a7373;
    width: 100%;
    height: 90px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo-frame.swiper {
    width: 100%;  /* Убираем фиксированную ширину */
    height: 100%;  /* Убираем фиксированную высоту */
    position: relative;  /* Убираем любые отступы, которые могут быть заданы */
}

.swiper {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}

.swiper-button-next,
.swiper-button-prev {
    color: #373737 !important;
    background: transparent;
    width: 40px;
    height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 24px;
}

.swiper-pagination-bullet {
    background-color: #373737 !important;
}

.contact{
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    margin-top: -23px;
    height: 700px;
    background-color: #6f6b6b;
    background-size: cover; /* Картинка полностью покрывает блок */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Убираем повторение */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-block{
    margin-top: 60px;       
}

.contacts{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.contacts-text{
    display: flex; /* Позволяет контенту растягивать высоту */
    flex-direction: column; /* Сохранение структуры текста */
    align-items: flex-start; /* Выравнивание по левому краю */
    margin-left: 200px;
    margin-top: 80px;
}

.contact-header{
    margin-bottom: 40px;
    color: #e4dede; 
    font-size: 26px;
    display: flex; /* Позволяет контенту растягивать высоту */
    flex-direction: column; /* Сохранение структуры текста */
    align-items: center; /* Выравнивание по левому краю */
    height: fit-content; /* Автоматическая высота */
    border-radius: 45px;
    padding: 20px;
    border: #666060 1px;
    background-color: #3d3c3c;
    width: 600px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-row{
    margin-bottom: 20px;
    display: flex; /* Позволяет контенту растягивать высоту */
    flex-direction: row; /* Сохранение структуры текста */
}

/* Стили для анимации contact-row */
.contact-row {
    opacity: 0;
    transform: translateY(30px); /* Начальное смещение вниз */
    transition: 
        opacity 0.8s ease-out,
        transform 0.8s ease-out;
}

/* Анимация при появлении */
.contact-row.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Добавьте задержку для каждой кнопки */
.contact-row:nth-child(1) {
    transition-delay: 0.2s;
}

.contact-row:nth-child(2) {
    transition-delay: 0.4s;
}

.contact-line{
    margin-bottom: 15px;
    color: #e4dede; 
    font-size: 30px;
    display: flex; /* Позволяет контенту растягивать высоту */
    align-items: center; /* Выравнивание по левому краю */
    border-radius: 50px;
    padding: 20px;
    border: #ffffff 1px solid;
    background-color: #484747;
    width: 490px;
    height: 90px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.telegram-logo img{
    height: 90px;
    margin-left: 15px;
}

.footer {
    display: flex;
    height: 120px;
    background-color: #363636; /* Светлый фон блока */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.by{
    display: flex;
    justify-content: center;
    font-size: 6px;
    margin-top: 20px;
    color: #cfcfcf02;
    text-decoration: none;
}

.by a {
    color: #EDE7CE; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
}

.by a:hover {
    color: #e74c3c; /* Цвет при наведении */
}

.by a:active {
    color: #bbb /* Цвет при клике */
}

.copyright{
    font-size: 7px;
    color: #EDE7CE;
}

.section {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.visible {
    opacity: 1;
}

@media (max-width: 575px) { 
    /* Стили для мобильных устройств */
    .header img{
        max-width: 100%;
    }
    .about{
        max-height: 100%;
        height: auto;
        background-size: 160%;
        justify-content: center;
        background-repeat: repeat;
    }
    .block-content{
        margin: none;
    }
    .text{
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        margin-bottom: 40px;
        border: #6c6c6c 3px solid;
        background-color: #837979;
        color: #ddd3d3;
        margin-bottom: 200px;
    }
    .text h1{
        color: #fff6f6
    }

    .work{
        height: auto;
    }

    .block-work{
        width: 100%;
        margin-top: 40px;
        flex-direction: column;
        justify-self: center;
        gap: 25px;
        margin-bottom: 20px;
    }
    .frame-container{
        margin: 0 auto;       
        margin-top: 20px;
        max-width: 95%;
    }

    .photo-frame.swiper{
        max-width: auto;
    }

    .works{
        max-width: 95%;
    }

    .contact{
        width: 100%;
        height: auto;
    }

    .contact-block{
        width: 100%;
    }

    .contacts{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .contacts-text{
        margin: 0 auto;
        margin-top: 20px;
        max-width: 95%;
    }

    .contact-header{
        width: 100%;
        font-size: 17px;
    }

    .contact-row{
        margin: 0 auto;
        width: 95%;
    }

    .contact-line{
        font-size: 20px;
        padding: 15px;
        font-weight: bold;
        justify-content: center;
    }

    .image-placeholder{
        width: 95%;
    }
    
    .footer{
        width: 100%;
        height: 70px;
    }

}
  