/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Poppins", sans-serif;
    font-weight: 400; /* Обычный */
    background-color: #a09e9e; /* Цвет нижнего блока */
    color: #f5f5f5;
}

.header {
    position: relative;
    z-index: 5;
    background-image: url('backg.png');
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.underline {
    width: 100%;
    height: 4px;
    border-radius: 55px;
    background-color: #4f4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin: 0 auto;
}
.main {
    background-color: #5d4b42; /* Основной коричневый цвет */
    padding: 20px;
}

.about {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 4;
    height: 900px;
    background-image: url('IMG_0548.PNG');/* Путь к вашей картинке */
    background-size: cover; /* Картинка полностью покрывает блок */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Убираем повторение */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.block-content{
    display: flex; /* Включаем Flexbox */
    margin: 0 auto;
    margin-top: 5%;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border: #373737 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 140%;
    height: 90%;
    margin-left: 10px;
    margin-right: 150px;
}

.image-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box{
}

.text {
    margin-left: 900px;
    border-radius: 25px;
    padding: 20px;
    border: #939191 1px;
    background-color: #e4dede;
    font-size: 18px;
    color: #6c6c6c;
    max-width: 400px;
    max-height: 80%;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.work {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;
    margin-top: -20px;
    height: 800px;
    background-color: #3e3d3d; /* Светлый фон блока */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.block-work{
    display: flex; /* Включаем Flexbox */
    margin: 0 auto;
    margin-top: 4%;
    gap: 100px; 
}

.works{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border: #373737 3px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 80%;
}

.works img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame-container {
    display: flex;
    flex-direction: column; /* Элементы идут сверху вниз */
    align-items: center; /* Центрируем по горизонтали */
    gap: 20px; /* Расстояние между заголовком и рамкой */
}

.frame-title {
    font-size: 24px; /* Размер заголовка */
    font-weight: bold; /* Жирный текст */
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f1ebeb; /* Цвет заголовка */
    text-align: center; /* Центровка текста */
    margin: 0; /* Убираем стандартные отступы */
}

.photo-frame.swiper {
    width: 100%;  /* Убираем фиксированную ширину */
    height: 100%;  /* Убираем фиксированную высоту */
    position: relative;  /* Убираем любые отступы, которые могут быть заданы */
}

.swiper {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}

.swiper-button-next,
.swiper-button-prev {
    color: #373737 !important;
    background: transparent;
    width: 40px;
    height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 24px;
}

.swiper-pagination-bullet {
    background-color: #373737 !important;
}

.footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    margin-top: -20px;
    height: 400px;
    background-color: #b6a48b; /* Светлый фон блока */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.visible {
    opacity: 1;
}
